
#player {

    .fa {
        font-size: 20px;
    }

    position: relative;//para poder trabalhar com absolute dos controls
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;

    &:hover {
        .controls{
            opacity: 1;
        } 
    }

    video {
        width: 600px;
        height: auto;
    }

    .controls {
        background-color: #000;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        opacity: 0.0;
        padding: 0.5rem;
        transition: opacity 0.4s;
    
        button {
            background: transparent;
            color: #fff;
            font-weight: bolder;
            text-shadow: 2px 1px 2px #000;
            border: none;
            cursor: pointer;//cursor muda
        }
    
        .timeline {
            flex: 0.9;//referente ao espaço disponível
            display: flex;
            align-items: center;
            border: none;
    
            .bar{
                background: rgba(248, 245, 245, 0.4);
                height: 4px;
                flex: 1; // ocupurá todo o espaço disponível
    
                .inner{
                    background: #e00;
                    width: 0%;
                    height: 100%;
                }
            }
        }

    }
}