$color-font: #fff;
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

#imagens {
    h2{
        margin-bottom: 1.5rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap; //define se os itens vão quebrar ou não a linha, por padrão vão além do limite de conteudo
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
        column-gap: 30px;
        row-gap: 5px;

        img {
            height: 180px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid #333;

            &:hover {
                filter: sepia(70%);
                border-color: #33f;
            }
        }
    }
}

header {
    background-image: linear-gradient(rgba(13, 240, 80, 0.5), rgba(5, 30, 55,1.0));
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 6rem;
        position: relative;
        z-index: 9;
    }
}
section{
    margin:2rem;
}

.jellyfish{
    position:absolute;
    top: 52vh;
}
.fish-1 , .fish-2 {
    animation-name: move1, move2;
    animation-timing-function: cubic-bezier(.07,.57,.63,.05);
    animation-iteration-count: infinite;
    animation-delay: 2s;

}
.fish-1{
    left:calc(7*100vw/8);
    animation-duration: 7s;
}
.fish-2{
    left:calc(2*100vw/8);
    animation-duration: 3s;
}
.fish-3{
    left:calc(100vw/8);   
    animation-duration: 2s;
    animation-delay: -3s;
}
.fish-3 , .fish-5{
    animation-name: movex , movey;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.fish-4 , .fish-7{

    animation-name: x , y;
    animation-timing-function: cubic-bezier(.64,-0.31,.39,.6);
    animation-iteration-count: infinite;
}
.fish-4{
    left:calc(3*100vw/8);
    animation-duration: 4s;
    animation-delay: -1s;
}
.fish-5{
    left:calc(4.5*100vw/8);
    animation-duration: 6s;
    animation-delay: -3s;
}
.fish-6{
    left:calc(5.7*100vw/8);
    animation-name: movex , movey;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    animation-delay: 1s;
}
.fish-7{
    left:calc(6.2*100vw/8);
    animation-duration: 7s;
    animation-delay: -5s;
}
.fish-8{
    left:calc(3.5*100vw/8);
    animation-name: movex1 , movey1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;

    animation-delay: -3s;
}


//movimento das águas-vivas
@keyframes move1 {
    to { transform: translateX(-306px); }
  }
@keyframes move2 {
    to { transform: translateY(-65vh); }
}

@keyframes movex {
  
    50%{
        transform: translateX(200px)
    }
    100% { transform: translateX(-266px); }
}
@keyframes movey {
    to { transform: translateY(-65vh); }
} 

@keyframes x {
    to { transform: translateX(-175px); }
}
@keyframes y {
    to { transform: translateY(-65vh); }
}
@keyframes movex1 {
    to{ transform: translateX(100px); }
}
@keyframes movey1 {
    to { transform: translateY(-65vh); }
} 

@import 'player';